body{
  background-color:#f4f4f4;
  color:#555;

  font-family: arial, helvetica, sans-serif;
  font-size: 16px;
  font-weight: normal;
  font: 16px, arial, helvetica, sans-serif;

  line-height: 1.6em;
  margin: 0px;
}

#main-header{
  border: auto;
}

.header{
  background-color: black;
  color: #fff;
  width: 100%;
  position: fixed;
  display: flex;
  flex-direction: row;
}

.logo{
  padding-left: 10px;
  padding-top: 10px;
}

#navbar {
  margin-left: auto;
}

#navbar ul{
  list-style: none;
}

#navbar li{
  display: inline;
}

#navbar a{
  text-decoration: none;
  color: #fff;
  font-size: 18px;
  padding-right: 15px;
}

#navbar a:hover{
  color: blue;
}

#home{
  background: url(images/landscape.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  text-align: center;
  padding-top: 300px;
  padding-bottom: 300px;
}

#home h1{
  color:#fff;
  font-size: 50px;
  line-height: 1.6em;
}

.social-media-icons ul{
  list-style: none;
}

.social-media-icons li{
  display: inline;
  padding-left: 10px;
  padding-right: 10px;
}

#about-page{
  background-color: #fff;
  padding-top: 100px;
  padding-bottom: 200px;
  width: 100%;
}

#about-page h2{
  text-align: center;
  font-size: 40px;
}

.about{
  display: flex;
  flex-direction: row;
  flex:initial;
}

.about img{
  width: 300px;
  height: 300px;
}

.about h3{
  font-size: 20px;
}

.about p{
  font-size: 15px;
  line-height: 1.6em;
}

#portfolio{
  padding-top: 100px;
  padding-bottom: 100px;
  width: 100%;
  text-align: center;
}

#portfolio h2{
  font-size: 30px;
}

#portfolio li{
  list-style: none;
  display: inline;
}

#portfolio a{
  text-decoration: none;
  color: grey;
}

#portfolio a:hover{
  color: blue;
}

.portfolio-images{
  display:flex;
  flex-direction: column;
  justify-content: center;
}

.portfolio-images img{
  width: 250px;
  height: 250px;
  padding: 15px;
}

#blog{
  background-color: #fff;
  padding-top: 100px;
  width:100%;
}

.blog-header{
  padding-top: 50px;
  text-align: center;
}

.blog-header h2{
  font-size: 30px;
}

.blog-header p{
  padding: 20px;
  font-size: 18px;
  line-height: 1.6em;
}

.blog-posts{
  padding-left: 40px;
  padding-right: 40px;
  display:flex;
  flex-direction: row;
  justify-content: space-around;
}

.blog-posts img{
  width: 350px;
  height: 250px;
}

.blog-posts p{
  width: 350px;
  height: 250px;
}

#contact{
  padding-top: 100px;
  padding-bottom: 100px;
  text-align: center;
}

#contact h2{
  font-size: 30px;
  text-align: center;
}

#contact-icons{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#contact-address{
  display: flex;
  flex-direction: row;
}

.contact-form{

}

.name-email label{
  font-size: 18px;
}

.message label{
  font-size: 18px;
}

.contact-form input{
  font-size: 20px;
}

.name-email{
  display: flex;
  flex-direction: row;
}

.message{

}

.contact-form input[type="text"]{
  font-size: 15px;
  font-family: sans-serif;
  color: rgba(0, 0, 0, 0.5);
  border: 0px #fff solid;
  border-radius: 10px;
  width:50%;
  height:50%;
}

.message textarea{
  font-size: 20px;
  font-family: sans-serif;
  color: rgba(0, 0, 0, 0.5);
  border: 0px #fff solid;
  border-radius: 10px;
  height: 200px;
}

.button{
  color: grey;
  text-transform: uppercase;
  cursor: pointer;
  border-radius: 5px;
  box-shadow: 0 1px 0 0;
}

.button:hover{
  background-color: blue;
  color: white;
}

#footer{
  background-color: black;
  color: white;
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  text-align: center;
}

#footer p{
  padding-top: 20px;
  padding-bottom: 20px;
}

.social-media-icons-footer ul{
  margin-left: auto;
  padding-top: 20px;
  list-style: none;
}

.social-media-icons-footer li{
  display: inline;
  padding-left: 10px;
  padding-right: 10px;
}

@media screen and (max-width: 768px){
  #main-header,
  .header,
  .logo,
  #navbar,
  #home,
  .social-media-icons,
  #about-page,
  .about,
  .about-info,
  #portfolio,
  .portfolio-images,
  #blog,
  .blog-header,
  .blog-posts,
  #contact,
  #contact-icons,
  #contact-address,
  .contact-address,
  .contact-email,
  .name-email,
  .contact-form,
  .message,
  .button,
  #footer,
  .social-media-icons-footer {
    display: block;
    width: 100%;
    float: none;
  }
}
